language: php

php: 
 - 5.6

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --no-interaction --prefer-source --dev

script:
 - vendor/bin/phpmd src text codesize,unusedcode,naming
 - vendor/bin/phpcs --standard=psr2 src
 - vendor/bin/phpcs -n --standard=phpcsdocblocks.xml src
